.navbar {
  background-color: #191f25;
  position: fixed;
  top: 10%; /* distance from top */
  left: 50%; /* distance from left */
  z-index: 1000; /* ensures it stays above other content */
  border-radius: 1rem;
  padding-right: 2rem;
  transform: translate(-50%, -50%);
  margin-bottom: 0%;
  border: groove #8e8e8e; /* dark silver tone */
}

.nav-links {
  justify-content: center;
  align-items: center; /* vertically center if needed */
  display: flex;
  list-style: none;
  gap: 2rem;
  color: white;
}

.nav-links li {
  position: relative;
  z-index: 2; /* Make sure it's above the pill */
}

.nav-links a {
  color: white;
  text-decoration: none; /* removes underline */
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: rgb(160, 158, 158); /* change to any highlight color on hover */
}

.pill {
  position: absolute;
  top: 20%;
  left: 7%;
  width: 5rem;
  height: 60%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 1rem;
  z-index: 1;
  transition: transform 0.4s ease;
}
