.homepage-wrapper {
  margin-top: 6rem; /* adjust to clear the fixed navbar */
  color: white;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: minmax(150px, auto);
  gap: 1.5rem;
  padding: 2rem;
}

.about-me {
  grid-column: 1 / 3; /* spans column 1 to 2 */
  grid-row: 1; /* sits in row 1 */
  animation: slideInRight 0.6s ease-out forwards;
}

.education {
  grid-column: 2 / 4; /* spans columns 2 to 3*/
  grid-row: 4; /* sits in row 4 */
  animation: slideInLeft 0.6s ease-out forwards;
}

.headshot-container {
  grid-column: 3; /* sits in column 3*/
  grid-row: 1/3; /* sits in row 4 */
  animation: slideInDown 0.6s ease-out forwards;
}

.hero-container {
  grid-column: 2; /* sits in column 1 to 2 */
  grid-row: 2 / 4; /* spans rows 2 and 3 */
}

.job-descr {
  grid-column: 1; /* sits in column 1*/
  grid-row: 2; /* sits in row 2 */
  animation: slideInRight 0.6s ease-out forwards;
}

.quote {
  grid-column: 3; /* sits in column 1*/
  grid-row: 3; /* sits in row 2 */
  animation: slideInLeft 0.6s ease-out forwards;
}

.technologies {
  grid-column: 1; /* sits in column 1*/
  grid-row: 3 / 5; /* spans rows 3 and 4 */
  animation: slideInUp 0.6s ease-out forwards;
}

.title-font {
  margin: 0.25rem;
  font-weight: 800;
  font-size: 2rem;
  text-align: left;
}

.hide-headshot {
  display: none;
}
/* 
@keyframes slideInRight {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInLeft {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
} */

@media (max-width: 1050px) {
  .homepage-wrapper {
    grid-template-columns: 1fr; /* Stack items vertically */
    padding: 1rem; /* Reduce padding on small screens */
    gap: 1rem; /* Optional: tighter spacing */
    animation: none;
  }

  .headshot-container {
    animation: none;
    grid-column: 1;
    grid-row: 1;
  }

  .hero-container {
    grid-column: 1;
    grid-row: 2;
    animation: none;
  }

  .job-descr {
    grid-column: 1;
    grid-row: 3;
    animation: none;
  }

  .about-me {
    grid-column: 1;
    grid-row: 4;
    animation: none;
  }

  .technologies {
    grid-column: 1;
    grid-row: 5;
    animation: none;
  }

  .education {
    grid-column: 1;
    grid-row: 6;
    animation: none;
  }

  .quote {
    grid-column: 1;
    grid-row: 7;
    animation: none;
  }
}
